<%- include("partials/header") %>

<h1> HERES THE DOGGO: <%= varthing.toUpperCase() %> </h1>

<% if(varthing.toLowerCase() === "rusty"){ %>
	<p>
		NICE
</p>
<% } else { %>
	<p>
		POOPOO
</p>
<% } %>

<%- include("partials/footer") %>